#greenlantern {
  margin-top: 0% !important;
}
.banner-areax {
  margin-top: -70px;
  border-radius: 10px;
  background: url(../img/contactbgb.jpg) center;
  background-size: cover;
}
#inin,
#linktext {
  color: #0077b5;
}
#gma,
#likemail {
  color: #b23121 !important;
}
.nohref {
  text-decoration: none;
}
.single-service {
  height: 207px;
  box-shadow: 0px 0px 2px #000;

  transition: 0.25s ease;
}
#mobileIcon {
  color: #8ab92d;
}
.single-service:hover {
  box-shadow: 0px 0px 10px 1px #000;
}
