html {
  scroll-behavior: smooth;
}
.navbar {
  background-color: rgba(34, 34, 34, 0.8);
}

.main-footer {
  background: #292929;
  color: #fff;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  position: bottom;
}
.titles {
  font-family: "Red Hat Display", sans-serif;
}
.colora-left {
  margin-left: -100px;
}
.colora-right {
  margin-right: -100px;
}
.bloc1 {
  background-image: linear-gradient(
    to top,
    #6d8389,
    #6a7c83,
    #67757c,
    #646e75,
    #61676d,
    #5f6368,
    #5c5e63,
    #595a5e,
    #56575a,
    #545456,
    #515152,
    #4e4e4e
  );
}
.bloc2 {
  background-image: linear-gradient(
    to top,
    #86aa9e,
    #82a79d,
    #7fa39b,
    #7ca09a,
    #799c98,
    #779997,
    #759595,
    #739293,
    #718e91,
    #708b8e,
    #6e878c,
    #6d8389
  );
}
.bloc3 {
  background-image: linear-gradient(
    to bottom,
    #86aa9e,
    #82a69c,
    #7da399,
    #799f97,
    #759b94,
    #6f9691,
    #69918e,
    #648c8b,
    #5d8586,
    #567d81,
    #4f767c,
    #496f77
  );
}
.bloc4 {
  background-image: linear-gradient(
    to top,
    #2f4858,
    #314b5b,
    #334f5e,
    #365261,
    #385664,
    #3a5967,
    #3c5d69,
    #3e606c,
    #41646f,
    #436772,
    #466b74,
    #496f77
  );
}
.bloc5 {
  background-image: linear-gradient(
    to bottom,
    #2f4858,
    #334c5d,
    #384f62,
    #3c5367,
    #41566c,
    #485a73,
    #4f5e79,
    #57627f,
    #636888,
    #706e90,
    #7e7498,
    #8c7a9f
  );
}
.bloc6 {
  background-image: linear-gradient(
    to top,
    #da9bb7,
    #d398b6,
    #cc94b4,
    #c491b3,
    #bd8eb1,
    #b68baf,
    #b089ad,
    #a986ab,
    #a283a8,
    #9a80a5,
    #937da2,
    #8c7a9f
  );
}
.bloc7 {
  background-image: linear-gradient(
    to bottom,
    #da9bb7,
    #e19cb6,
    #e79db5,
    #ed9fb3,
    #f3a0b1,
    #f8a2ac,
    #fca4a7,
    #ffa7a2,
    #ffac9a,
    #ffb292,
    #ffb98b,
    #ffc185
  );
}
.bloc8 {
  background-image: linear-gradient(
    to top,
    #f9f871,
    #fbf271,
    #fded71,
    #fee771,
    #ffe272,
    #ffdd73,
    #ffd975,
    #ffd477,
    #ffcf7a,
    #ffca7e,
    #ffc581,
    #ffc185
  );
}
